/* Alberto Núñez García - UO258455*/
body{ /* a = 0 ; b = 0 ; c = 1*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
header{ /* a = 0 ; b = 0 ; c = 1 */
    grid-column-start: 1 ;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
}
article{ /* a = 0 ; b = 0 ; c = 1 */
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2 ;
    grid-row-end: 3;
}
aside{ /* a = 0 ; b = 0 ; c = 1 */
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2 ; 
    grid-row-end: 3;
}
footer { /* a = 0 ; b = 0 ; c = 1 */
    grid-column-start: 1 ;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
}